<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="row">
        <div class="col-md-9 single_left">
          <div class="single_image">
            <ul id="etalage">
              <li>
                <a href="optionallink.html">
                  <img
                    class="etalage_thumb_image"
                    src="{{product.productPicture}}"
                  />
                  <img
                    class="etalage_source_image"
                    src="{{product.productPicture}}"
                  />
                </a>
              </li>
              <li>
                <img
                  class="etalage_thumb_image"
                  src="{{product.productPicture}}"
                />
                <img
                  class="etalage_source_image"
                  src="{{product.productPicture}}"
                />
              </li>
              <li>
                <img
                  class="etalage_thumb_image"
                  src="{{product.productPicture}}"
                />
                <img
                  class="etalage_source_image"
                  src="{{product.productPicture}}"
                />
              </li>
              <li>
                <img
                  class="etalage_thumb_image"
                  src="{{product.productPicture}}"
                />
                <img
                  class="etalage_source_image"
                  src="{{product.productPicture}}"
                />
              </li>
              <li>
                <img
                  class="etalage_thumb_image"
                  src="{{product.productPicture}}"
                />
                <img
                  class="etalage_source_image"
                  src="{{product.productPicture}}"
                />
              </li>
              <li>
                <img
                  class="etalage_thumb_image"
                  src="{{product.productPicture}}"
                />
                <img
                  class="etalage_source_image"
                  src="{{product.productPicture}}"
                />
              </li>
              <li>
                <img
                  class="etalage_thumb_image"
                  src="{{product.productPicture}}"
                />
                <img
                  class="etalage_source_image"
                  src="{{product.productPicture}}"
                />
              </li>
            </ul>
          </div>
          <!-- end product_slider -->
          <div class="single_right">
            <h3>{{product.productName}}</h3>
       
            <p class="m_10"><strong>Brand:</strong>{{product.brand}}</p>
            
            <p class="m_10"><strong>Category</strong><br>{{product.category}}</p>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


		<button id="like" type="submit" class="box-btn" data-productid="{{product._id}}"><span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span></button>
            <br>				    	

            <input type="hidden" id="userID" value="{{flag}}">
            <input type="hidden" id="revlikeID" value="{{flag1}}">
            <div class="btn_form">
              <form>
                <label for="box-btn">Like</label>
              </form>
            </div>
            <ul class="add-to-links">
              <li><i class="fa fa-heart red-color " ></i><a
                  id="btn-whishlist"
                  href="/users/wishlist/{{product._id}}"
                > Add to wishlist</a></li>
            </ul>
            
            
            <div class="social_buttons">
              <h4>{{product.reviews.length}} Reviews</h4>
              <button
                type="button"
                class="btn1 btn1-default1 btn1-twitter"
                onclick=""
              >
                <i class="icon-twitter"></i>
                Tweet
              </button>
              <button
                type="button"
                class="btn1 btn1-default1 btn1-facebook"
                onclick=""
              >
                <i class="icon-facebook"></i>
                Share
              </button>
              <button
                type="button"
                class="btn1 btn1-default1 btn1-google"
                onclick=""
              >
                <i class="icon-google"></i>
                Google+
              </button>
              <button
                type="button"
                class="btn1 btn1-default1 btn1-pinterest"
                onclick=""
              >
                <i class="icon-pinterest"></i>
                Pinterest
              </button>
             
            </div>
             <br>
              <p><strong>Links to buy this product:</strong></p>
              {{#each product.productLinks}}
              
              <a href="{{this}}">Buy here</a>
              <br>
              {{/each}}
          </div>
          <div class="clear"> </div>
        </div>
        <div class="col-md-3">
          <div class="box-info-product">
            <p class="price2">${{product.price}}</p>
            <ul class="prosuct-qty">
              <span>Reviews:</span>
              <select>
                <option>{{product.reviews.length}}</option>
               
              </select>
            </ul>
            <form>
            <button type="button" name="Submit" class="exclusive">
              <a href="{{product.productLinks.[0]}}"><span>Let's Buy</span></a>
            </button>
            </form>
          </div>
        </div>
      </div>
      

<div class="container">
    <div class="row">
    <h2>Add Review</h2>
    <table width="100%" border="0">
      <div class="col-md-9 col-md-offset-0">
        <tr><td width="77%">
        <div class="">
          <form id="addreview" class="form-horizontal" action="/products/review/{{product._id}}" method="post">
          <fieldset>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="title">Review Title</label>
              <div class="col-md-9">
                <input id="title" name="title" type="text" placeholder="Title" class="form-control">
              </div>
            </div>
    
            
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="review">Your Review</label>
              <div class="col-md-9">
                <textarea class="form-control" id="reviewBody" name="reviewBody" placeholder="Please enter your review here..." rows="5"></textarea>
              </div>
            </div>


            <!-- Rating -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="review">Your rating</label>
              <div class="col-md-9">
                <input id="rating" name=rating value="0" type="number" class="rating" min=0 max=5 step=1 data-size="xs" >
              </div>
            </div>
    </td>
    <td align="center" valign="top" width="23%">
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-center">
                <button name="btn-addreview" type="submit" class="btn btn-primary btn-md">Submit</button>
                <button type="reset" class="btn btn-default btn-md">Clear</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
    </div>
    </td>
    </tr>
    </table>
</div>

<br>
<br>


      <div class="desc">
        <div class="container">
          <div id="reviews" class="review-section">
            <div class="d-flex align-items-center justify-content-between mb-4">
              <h4 class="m-0">{{product.reviews.length}} Reviews</h4>
              <select
                class="custom-select custom-select-sm border-0 shadow-sm ml-2 select2-hidden-accessible"
                data-select2-id="1"
                tabindex="-1"
                aria-hidden="true"
              >
                <option data-select2-id="3">Most Relevant</option>
                <option>Most Recent</option>
              </select>
              <span
                class="select2 select2-container select2-container--default"
                dir="ltr"
                data-select2-id="2"
                style="width: 188px;"
              >
                <span class="selection">
                  <span
                    class="select2-selection select2-selection--single"
                    role="combobox"
                    aria-haspopup="true"
                    aria-expanded="false"
                    tabindex="0"
                    aria-labelledby="select2-qd66-container"
                  >
                    <span
                      class="select2-selection__rendered"
                      id="select2-qd66-container"
                      role="textbox"
                      aria-readonly="true"
                      title="Most Relevant"
                    >Most Relevant</span>
                    <span
                      class="select2-selection__arrow"
                      role="presentation"
                    ><b role="presentation"></b></span>
                  </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
              </span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <table class="stars-counters">
                  <tbody>
                    <tr class="">
                      <td>
                        <span>
                          <button
                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter"
                          >5 Stars</button>
                        </span>
                      </td>
                      <td class="progress-bar-container">
                        <div
                          class="fit-progressbar fit-progressbar-bar star-progress-bar"
                        >
                          <div class="fit-progressbar-background">
                            <span
                              class="progress-fill"
                              style="width: {{status.bar5}}%;"
                            ></span>
                          </div>
                        </div>
                      </td>
                      <td class="star-num">({{status.a}})</td>
                    </tr>
                    <tr class="">
                      <td>
                        <span>
                          <button
                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter"
                          >4 Stars</button>
                        </span>
                      </td>
                      <td class="progress-bar-container">
                        <div
                          class="fit-progressbar fit-progressbar-bar star-progress-bar"
                        >
                          <div class="fit-progressbar-background">
                            <span
                              class="progress-fill"
                              style="width: {{status.bar4}}%;"
                            ></span>
                          </div>
                        </div>
                      </td>
                      <td class="star-num">({{status.b}})</td>
                    </tr>
                    <tr class="">
                      <td>
                        <span>
                          <button
                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter"
                          >3 Stars</button>
                        </span>
                      </td>
                      <td class="progress-bar-container">
                        <div
                          class="fit-progressbar fit-progressbar-bar star-progress-bar"
                        >
                          <div class="fit-progressbar-background">
                            <span
                              class="progress-fill"
                              style="width: {{status.bar3}}%;"
                            ></span>
                          </div>
                        </div>
                      </td>
                      <td class="star-num">({{status.c}})</td>
                    </tr>
                    <tr class="">
                      <td>
                        <span>
                          <button
                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter"
                          >2 Stars</button>
                        </span>
                      </td>
                      <td class="progress-bar-container">
                        <div
                          class="fit-progressbar fit-progressbar-bar star-progress-bar"
                        >
                          <div class="fit-progressbar-background">
                            <span
                              class="progress-fill"
                              style="width: {{status.bar2}}%;"
                            ></span>
                          </div>
                        </div>
                      </td>
                      <td class="star-num">({{status.d}})</td>
                    </tr>
                    <tr class="">
                      <td>
                        <span>
                          <button
                            class="fit-button fit-button-color-blue fit-button-fill-ghost fit-button-size-medium stars-filter"
                          >1 Stars</button>
                        </span>
                      </td>
                      <td class="progress-bar-container">
                        <div
                          class="fit-progressbar fit-progressbar-bar star-progress-bar"
                        >
                          <div class="fit-progressbar-background">
                            <span
                              class="progress-fill"
                              style="width: {{status.bar1}}%;"
                            ></span>
                          </div>
                        </div>
                      </td>
                      <td class="star-num">({{status.e}})</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
              </div>
            </div>
          </div>

          <div class="review-list">
          {{#each product.reviews}}
          
         <div class="card">
	        <div class="card-body review-blog">
	            <div class="row">
        	      <div class="col-md-2">
        	        <img src={{this.userImage}} class="img img-rounded img-fluid"/>
        	        <p class="text-secondary text-center">{{this.date}}</p>
        	    </div>
        	    <div class="col-md-10">
        	        <p>
        	            <a class="float-left review-username" href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>{{this.userName}}</strong></a>
                      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                      <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right" ><i class="rating"><strong>{{this.rating}} </strong></i> <i class="text-warning fa fa-star"></i></span>              

        	   </p>
        	       <div class="clearfix"></div>
                    <p class="review-id" data-productid="{{product._id}}" data-reviewid="{{this._id}}">{{this.title}}</p>
                    <p>{{this.reviewBody}}</p>
        	        <p>
                      {{!-- Added class review-reply as an identifier for the review like button --}}
        	            <a class="float-right btn btn-outline-primary ml-2 review-reply"> <i class="fa fa-reply"></i> Reply</a>
                      {{!-- Added class review-like as an identifier for the review like button --}}
        	            <a id = "revlike"  class="float-right btn text-white btn-danger review-like" data-selected="{{this.islike}}" > <i class="fa fa-heart"></i> <span>Like</span></a>
        	      {{!-- id = "revlike" --}}
                 </p>
        	    </div>
              <div class="reviews-members-footer">
                                    <div class="total-like" href="#"><i class="glyphicon glyphicon-thumbs-up"></i> 88K</div> 
                                    
              </div>
	        </div>
            <!-- Start of Comments -->
           <div class="comment-space">

            {{#each this.comments}}
	        	<div class="card card-inner">
            	    <div class="card-body">
            	        <div class="row">
                    	    <div class="col-md-2">
                    	        <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                    	        <p class="text-secondary text-center">15 Minutes Ago</p>
                    	    </div>
                    	    <div class="col-md-10">
                    	        <p><a href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Maniruzzaman Akash</strong></a></p>
                    	        <p>Lorem Ipsum is simply dummy text of the pr make  but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    	        <p>
                    	            <a class="float-right btn btn-outline-primary ml-2">  <i class="fa fa-reply"></i> Reply</a>
                    	           <a class="float-right btn text-white btn-danger review-like"> <i class="fa fa-heart"></i> <span>Like</span></a>
                                  </p>
                    	    </div>
            	        </div>
                         
            	    </div>
              
	            </div>
                 {{/each}}
            </div>
            <!-- End of Comments -->   
	    </div>
	</div>
          
          {{/each}}
          </div>
        </div>
      </div>
      <div class="row">
        <h4 class="m_11">Related Products</h4>
        <div class="col-md-4 product1">
          <img src="/public/uploads/fe1.jpg" class="img-responsive" alt="" />
          <div class="shop_desc"><a href="/products">
            </a><h3><a href="/products"></a><a href="#">aliquam volutp</a></h3>
            <p>Lorem ipsum consectetuer adipiscing </p>
            <span class="reducedfrom">$66.00</span>
            <span class="actual">$12.00</span><br />
            <ul class="buttons">
              <li class="cart"><a href="#">Add To Cart</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-4 product1">
          <img src="/public/uploads/f1.jpg" class="img-responsive" alt="" />
          <div class="shop_desc"><a href="/products">
            </a><h3><a href="/products"></a><a href="#">aliquam volutp</a></h3>
            <p>Lorem ipsum consectetuer adipiscing </p>
            <span class="reducedfrom">$66.00</span>
            <span class="actual">$12.00</span><br />
            <ul class="buttons">
              <li class="cart"><a href="#">Add To Cart</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <img src="/public/uploads/fm1.jpg" class="img-responsive" alt="" />
          <div class="shop_desc"><a href="/products">
            </a><h3><a href="/products"></a><a href="#">aliquam volutp</a></h3>
            <p>Lorem ipsum consectetuer adipiscing </p>
            <span class="reducedfrom">$66.00</span>
            <span class="actual">$12.00</span><br />
            <ul class="buttons">
              <li class="cart"><a href="#">Add To Cart</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() { $(".dropdown
  img.flag").addClass("flagvisibility"); $(".dropdown dt a").click(function() {
  $(".dropdown dd ul").toggle(); }); $(".dropdown dd ul li a").click(function()
  { var text = $(this).html(); $(".dropdown dt a span").html(text); $(".dropdown
  dd ul").hide(); $("#result").html("Selected value is: " +
  getSelectedValue("sample")); }); function getSelectedValue(id) { return $("#"
  + id).find("dt a span.value").html(); } $(document).bind('click', function(e)
  { var $clicked = $(e.target); if (! $clicked.parents().hasClass("dropdown"))
  $(".dropdown dd ul").hide(); }); $("#flagSwitcher").click(function() {
  $(".dropdown img.flag").toggleClass("flagvisibility"); }); });
</script>
<!----details-product-slider--->
				<!-- Include the Etalage files -->
<link rel="stylesheet" href="css/etalage.css" />
<script src="js/jquery.etalage.min.js"></script>
<!-- Include the Etalage files -->
<script>
  jQuery(document).ready(function($){ $('#etalage').etalage({ thumb_image_width:
  300, thumb_image_height: 400, show_hint: true, click_callback:
  function(image_anchor, instance_id){ alert('Callbackexample:\\\\\\\\\\\\\\\nYou clicked on an image with the anchor:
  "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")'); } }); // This is for the dropdown list example: $('.dropdownlist').change(function(){
  etalage_show( $(this).find('option:selected').attr('class') ); }); });
</script>

<script src="/public/js/jquery.etalage.min.js"></script>
<script src="/public/js/product.js"></script>
<script src="/public/js/reviews.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/public/js/addreview.js"></script>

<script>
   
	$(function($) {
    $(document).on('click', '.box-btn', function(event) {
    //$(this).find('.glyphicon').toggleClass('red').toggleClass('glyphicon-heart-empty glyphicon-heart');
    var selected ="false";
  //Checking if the product is liked
	  if ( $(this).find('.glyphicon').hasClass('red')){
		       selected = true;
    }		  
	  //Adding productID to the URL
    var productIDUrl = "/products/likes/"+ $(this).data("productid");	
		$.ajax({
		type: "POST",
		url: productIDUrl,
		data: {},
		success: function (data) {
    //Unlike the product if already liked   
		if(selected  ==  true){
           $("#like").find('.glyphicon').addClass('glyphicon-heart-empty');
           $("#like").find('.glyphicon').removeClass('red glyphicon-heart');

    }
    else{
      //Liking the product
      $("#like").find('.glyphicon').removeClass('glyphicon-heart-empty');
      $("#like").find('.glyphicon').addClass('red glyphicon-heart');
    }
			
		},
		error: function (xhr, textStatus, error) {
			alert("Login to Add Like, Failed to Add Like");
		},
		});

  



   	
  });
  


  <!-- Adding Review Like -->
  $(document).on("click", ".review-like" , function() {

      var ID = $(this).closest(".review-blog").find(".review-id");
      var likeBtn = $(this);
         
       /* alert($(this).closest(".review-blog").find(".review-id strong").html());*/
     
       var revid= ID.data("reviewid");
      // var prodid= ID.data("productid");

    //  "/products/likes/"+ $(this).data("productid");
 
      var likereviewUrl = "/products/reviews/likes/"+revid;	
          
        // $(this).find('span').text("Liked");
        // $(this).removeClass("btn-danger").addClass("btn-dark");
      //    $(this).data("reviewid");
        $.ajax({
            type: 'POST',
            url: likereviewUrl,
            data: {},
            success: function (data) {
                
                  likeBtn.find('span').text("Liked");
                  likeBtn.removeClass("btn-danger").addClass("btn-dark");
                  
            },
              error: function (jqXhr, textStatus, errorMessage) {
              alert(errorMessage);
            }
        });

        });
  <!-- End of Review Likes -->

  <!-- Showing Comments Dialogue-->
  $(document).on("click", ".review-reply" , function() {
        
        var commentdialogue = $('#commentDialog').detach();
        $(this).closest(".review-blog").find(".comment-space").append(commentdialogue);
        $("#commentDialog").show();        
          
  });
  <!-- End of Comments Dialogue-->
  
  <!-- Start of Add commnts -->
   $(document).on("click", ".add-comment" , function() {

    comment = $(this).closest(".comment-area").find(".review-txt-area");
    commentVal =comment.val();
    comment.val("");
        if (commentVal.trim()) {
      /*$.ajax({
       type: 'POST',
       url: add url,
       data: { myData: 'This is my data.' },
       success: function (data) {
        
        $(this).closest(".review-blog").find(".comment-space").append("<div class='card card-inner'><div class='card-body'><div class='row'><div class='col-md-2'><img src='https://image.ibb.co/jw55Ex/def_face.jpg' class='img img-rounded img-fluid'/><p class='text-secondary text-center'>15 Minutes Ago</p></div><div class='col-md-10'><p><a href='https://maniruzzaman-akash.blogspot.com/p/contact.html'><strong>Maniruzzaman Akash</strong></a></p><p>"+commentVal+"</p><p><a class='float-right btn btn-outline-primary ml-2'>  <i class='fa fa-reply'></i> Reply</a><a class='float-right btn text-white btn-danger review-like'><i class='fa fa-heart'></i> <span>Like</span></a></p></div></div></div></div>");
        $("#commentDialog").hide();  
      },
        error: function (jqXhr, textStatus, errorMessage) {
          alert(errorMessage);
      }
    });*/
      $(this).closest(".review-blog").find(".comment-space").append("<div class='card card-inner'><div class='card-body'><div class='row'><div class='col-md-2'><img src='https://image.ibb.co/jw55Ex/def_face.jpg' class='img img-rounded img-fluid'/><p class='text-secondary text-center'>15 Minutes Ago</p></div><div class='col-md-10'><p><a href='https://maniruzzaman-akash.blogspot.com/p/contact.html'><strong>Maniruzzaman Akash</strong></a></p><p>"+commentVal+"</p><p><a class='float-right btn btn-outline-primary ml-2'>  <i class='fa fa-reply'></i> Reply</a><a class='float-right btn text-white btn-danger review-like'><i class='fa fa-heart'></i> <span>Like</span></a></p></div></div></div></div>");
      $("#commentDialog").hide();   
    }
    else{
      alert("Please Enter valid comment");
    }   
         
          
  });
   <!-- End of Add commnts -->








  //productIDLikes
if($("#userID").val() == "true"){
  $("#like").find('.glyphicon').removeClass('glyphicon-heart-empty');
  $("#like").find('.glyphicon').addClass('red glyphicon-heart ');
}
//reviewIDlikes


//Start of checking for liked review on page load 
$(".review-like").each(function(){
  if($(this).data("selected") == true){

    $(this).find('span').text("Liked");
    $(this).removeClass("btn-danger").addClass("btn-dark");

  }
 
  });
//End of liked review on page load

  
  /*for(){
    $(".review-like").find('span').text("Liked");
    $(".review-like").removeClass("btn-danger").addClass("btn-dark");  
  }*/


}); 
</script>

