<div class="container rounded bg-white mt-5 mb-5">
    {{!-- <a href="/">sign up here</a> --}}
    <form action="/products/add" method="POST" name="addproduct" id="addproduct">
        <div class="col-md-9 border">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <br>
                    <h3 class="text-centre">Add a Product</h3>
                    <br>
                    <br>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Product Name</label><input type="text" id= "newProdName" name= "newProdName" class="form-control" placeholder="Product Name" value= "{{prod.newProdName}}"></div>
                    <div class="col-md-6"><label class="labels">Brand</label><input type="text" id= "newProdBrand" name= "newProdBrand" class="form-control" placeholder="Product Brand" value= "{{prod.newProdBrand}}"></div>
                </div>
                <br>
                <br>
                <div class="d-flex justify-content-between align-items-center mb-6">
                    <br>
                    <h4 class="text-centre">Add a Review</h4>
                    <br>
                    <br>
                </div>
                <div class="row mt-3"> 
                    <div class="col-md-12"><label class="labels">Title</label><input type="text" class="form-control" placeholder="Optional" id= "revTitle" name= "revTitle" value= "{{prod.revTitle}}"></div>
                    <div class="col-md-12"><label class="labels">Body</label><input type="text" class="form-control" placeholder="Optional" id= "revBody" name= "revBody" value= "{{prod.revBody}}"></div>
                </div>
                <br>
                <p class= "text-centre">{{error}}</p>
                <p class= "text-centre">{{success}}</p>    
                <div class="mt-5 text-center">
                    <button class="btn btn-primary profile-button" type="submit">Submit</button>
                </div>
                <br>
            </div>
        </div>
    </form> 
</div>