
<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="row shop_box-top">
        {{#each products}}
          <div class="col-md-3 shop_box" style="margin-top: 30px;">
            <a
              href="/products/{{this._id}}"
            >
              <img
                src="{{this.productPicture}}"
                class="img-responsive"
                alt=""
              />
              <div class="shop_desc">
                <h3><a href="/products/{{this._id}}">{{this.productName}}</a></h3>
                <p>{{this.brand}}</p>
                <span class="actual">${{this.price}}</span><br />
              </div>
            </a></div>
        {{/each}}
      </div>
      <p class="text-center"><a href="products/add">Don't see the product you're looking for? Click Here</a></p>
    </div>
  </div>
</div>

