
<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="row shop_box-top">
        {{#each products}}
          <div class="col-md-3 shop_box" style="margin-top: 30px;">
            <a
              href="/products/{{this._id}}"
            >
              <img
                src="{{this.productPicture}}"
                class="img-responsive"
                alt="Product"
              />
              <span class="new-box">
                <span class="new-label">New</span>
              </span>
              <span class="sale-box">
                <span class="sale-label">Sale!</span>
              </span>
              <div class="shop_desc">
                <h3><a href="#">{{this.productName}}</a></h3>
                <p>{{this.brand}}</p>
                <span class="reducedfrom">$66.00</span>
                <span class="actual">${{this.price}}</span><br />
                <ul class="buttons">
                  <li class="cart"><a href="#">Add To Cart</a></li>
                  <li class="shop_btn"><a href="#">Read More</a></li>
                  <div class="clear"> </div>
                </ul>
              </div>
            </a></div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

