<div class="container rounded bg-white mt-5 mb-5">
    <form action="/users/private" method="post">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src={{users.userImage}}>
                <br>
                <span class="font-weight-bold"><strong>{{users.firstName}}</strong></span>:
                <br> <span class="text-black-50">{{users.email}}</span><span> </span>
            </div>
        </div>
        {{!-- <a href="/">sign up here</a> --}}
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <br>

                    <h3 class="text-centre">Profile Settings</h3>
                    <br>
                    <br>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">First Name</label><input type="text" id= "firstName" name= "firstName" class="form-control" placeholder="First Name" value= "{{users.firstName}}"></div>
                    <div class="col-md-6"><label class="labels">Last Name</label><input type="text" id= "lastName" name= "lastName" class="form-control" placeholder="Last Name" value= "{{users.lastName}}"></div>
                </div>
                <div class="row mt-3"> 
                    <div class="col-md-12"><label class="labels">Username</label><input type="text" class="form-control" placeholder="Enter Username" id= "username" name= "username" value= "{{users.userName}}"></div>
                    <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control" placeholder="Enter Password" id= "password" name= "password"  autocomplete="off"></div>
                    <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="Enter Email" id= "email" name= "email" value= "{{users.email}}"></div>
                    <div id= "dropdown" class="col-md-12"><label class="labels">Makeup Level</label>
                        <br>
                        <select name= "makeupLevel">
                            <option value="Beginner">Beginner</option>
                            <option value="Intermediate">Intermediate</option>
                            <option value="Expert">Expert</option>
                        </select>
                    </div>
                   
                </div>
                <br>
                <br>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
                <br>
            </div>
        </div>
       
    </div>
    </form>
</div>