<div class="main">
    <div class="container">
        <div class="row mb-5">
            <div class="col card mt-3">
                <div class="card-body">
                    <div class="container">
                        <h1 class="card-title h2">User Info</h1>
                        <img src={{users.userImage}} width= "200" height = "250" class="img img-rounded"/>
    
                        <h1 class="card-title h4">Username</h1>
                        <p>{{users.userName}}</p>

                        <h1 class="card-title h4">First Name</h1>
                        <p>{{users.firstName}}</p>

                        <h1 class="card-title h4">Makeup Level</h1>
                        <p>{{users.makeupLevel}}</p>
                        {{#if user}}
                        <div class="button1">
                            <a href="/profile"><input
                                type="submit"
                                name="profile"
                                value="Edit"
                            /></a>
                        </div>
                        {{/if}}
                    </div>
                    
                </div>
                
            </div>
            <div class="col-md-8 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Reviews</h4>
                </div>
                {{#each reviews}}
                    <h5>{{reviews.title}}</h5>
                    <p>{{reviews.reviewBody}}</p>
                    <p><a href="products/{{productId}}">See more</a></p>
                {{/each}}
                <h4>Wishlist</h4>
                {{#each user.wishlist}}
                    <p><a href="products/{{this.prodId}}">{{this.prodName}}</a></p>
                {{/each}}
            </div>
        </div>
        </div>
    </div>
</div>

                