<div class="main">
    <div class="container">
        <div class="row mb-5">
            <div class="col card mt-3">
                <div class="card-body">
                    <div class="container">
                        <h1 class="card-title h2">User Info</h1>
                        <img src="{{users.userImage}}" width= "200" height = "250" class="img img-rounded"/>
    
                        <h1 class="card-title h4">Username</h1>
                        <p>{{users.userName}}</p>

                        <h1 class="card-title h4">First Name</h1>
                        <p>{{users.firstName}}</p>

                        <h1 class="card-title h4">Makeup Level</h1>
                        <p>{{users.makeupLevel}}</p>
                        {{#if user}}
                        <div class="button1">
                            <a href="/users/private/{{users._id}}"><input
                                type="submit"
                                name="profile"
                                value="Edit"
                            /></a>
                        </div>
                        {{/if}}
                    </div> 
                </div> 
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-right">Wishlist</h3>
                    </div>
                    {{#each products}}
                        <div class="col-md-3 shop_box" style="margin-top: 30px;">
                            <a href="/products/{{this._id}}">
                                <img
                                    src="{{this.productPicture}}"
                                    class="img-responsive"
                                    alt=""
                                />
                                <div class="shop_desc">
                                    <h3><a href="#">{{this.productName}}</a></h3>
                                    <p>{{this.brand}}</p>
                                    <span class="actual">${{this.price}}</span><br />
                                    <ul class="buttons">
                                    <li><a
                                        class="remove"
                                        href="/users/wishlist/remove/{{this._id}}"
                                        >Remove From WishList</a></li>
                                    <div class="clear"> </div>
                                    </ul>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="align-items-center mb-1">
                <div class="p-3 py-5">
                    <h3>Reviews</h3>
                </div>
            </div>
            {{#each reviews}}
            <div class="card-body">
                <div class="row">
                    <div class="align-items-center mb-1">
                        <span ><i class="rating"><strong>{{this.rating}}  </strong></i> 
                        <i class="text-warning fa fa-star"></i></span>
                        <h5><a href="../products/{{this.productId}}">{{this.title}}</a></h5>
                        <p>{{this.reviewBody}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<script src="/public/js/users.js"></script>
<script>

  $(document).on("click", ".remove" , function() { event.preventDefault();
  $.ajax({ type: "POST", url: this.href, data: {}, success: function (data) {
  alert("Removed from wishlist"); window.location.reload(); }, error: function
  (xhr, textStatus, error) { alert("To save your product to wishlist, Login first"); }, }); });

</script>

<link rel="stylesheet" href="css/etalage.css" />

<script src="/public/js/jquery.etalage.min.js"></script>
<script src="/public/js/wishlist.js"></script>
<script src="/public/js/reviews.js"></script>

<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script
  src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"
></script>

<script src="//code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/public/js/reviewstructure.js"></script>

                